* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body, html {
	width: 100%;
	height: 100%;
	font-family: 'Comfortaa', cursive;
	background: #181818;
}

img {
	width: 100%;
}

a {
	color: #99bbff;
	text-decoration: none;
}

.wrapper {
	width: 100%;
	max-width: 800px;
	padding: 10px;
	margin: auto;
	background: #222222;
}

.post-box {
	display: grid;
	grid-template-columns: 1fr 1fr;
	margin: 20px 0;
}

.post-box__img {
	grid-column: 1/3;
	grid-row: 1/2;
}

.post-box__text {
	grid-column: 1/3;
	grid-row: 1/2;
	width: 100%;
	padding: 10px 10px 50px;
	color: white;
	background-image: linear-gradient(rgba(20, 0, 20, 0.9), rgba(20, 0, 20, 0.9), rgba(20, 0, 20, 0.75), rgba(20, 0, 20, 0.6), rgba(20, 0, 20, 0));
	height: 50%;
}

.post-box__title {
	font-family: 'Righteous', cursive;
	font-size: 24px;
	font-weight: 100;
}

.post-box__subtitle {
	font-size: 18px;
}

.post-box__paragraph {
	font-size: 16px;
}


@media only screen and (max-width: 600px) {
	.post-box__img {
		grid-column: 1/2;
		grid-row: 1/2;
	}

	.post-box__text {
		grid-column: 2/3;
		grid-row: 1/2;
		padding: 10px;
		background: rgba(20, 0, 20, 1);
		height: 100%;
	}

	.post-box__title {
		font-size: 14px;
	}

	.post-box__subtitle {
		font-size: 13px;
	}

	.post-box__paragraph {
		font-size: 12px;
	}
	}